.form {
	background: rgba(255, 255, 255, 0.2);
}
/*阴影*/

input[type="text"],
input[type="password"] {
	padding-left: 26px;
}

.form-title {
	color: whitesmoke;
	font-weight: 600;
	text-align: center;
}